.Clock {
    background-color: antiquewhite;
    margin-top: 15%;
    size: 10em;
}

.Line {
    margin-left: 11ch;
    animation-name: rotate;
    animation-duration: 60s;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}